input{
  font-family: 'Indie Flower', cursive;
  width: 10rem;
  height: 1.5rem;
  background-color: black;
  color: violet ;
  border: 0.2rem solid white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left:1rem;
  margin: 0 auto;
}

div{
 text-align: center;

}



