li{
  list-style: none;
  display: inline-block;
  font-size: 2rem;
  margin-right: 3rem;
  font-weight: bolder;
}
ul{
 text-align: center;
 text-transform: uppercase;
}
a{
  text-decoration: none;
}
